<!DOCTYPE html>
<html>

<head>
  <title>git-ticket | Create new</title>
  <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
  <link href="/static/index.css" rel="stylesheet">
  <link href="/static/ticket.css" rel="stylesheet">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"
  />
  <script src="/static/choices.min.js"></script>
  <script src="/static/create.js"></script>
</head>

<body>

<div class="gt-container">
  {{ template "side_bar.html" $.SideBar }}

  <div class="container">
    {{ if $.FlashErrors }}
    <div class="row mt-xxl-2">
      <div class="col mx-auto p-2 alert alert-danger d-flex align-items-center" role="alert">
        <ul>
          {{ range $.FlashErrors }}
          <li>{{ .Message }}</li>
          {{ end }}
        </ul>
      </div>
    </div>
    {{ end }}

    <div class="row">
      <div class="col">
        <form action="/ticket/new/" method="post">
          <div class="card">
            <div class="card-header text-center">
              <h5 class="card-title">New ticket</h5>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label for="title" class="form-label required">Title</label>
                <input
                  required
                  type="text"
                  class="form-control {{ if .ValidationErrors.title }}is-invalid{{ end }}"
                  name="title"
                  id="title"
                  aria-describedby="titleHelp"
                  value="{{ .FormData.Get "title" }}"
                >
                {{ if .ValidationErrors.title }}
                  <div class="invalid-feedback">{{ .ValidationErrors.title.Message }}</div>
                {{ end }}
                <div id="titleHelp" class="form-text visually-hidden">Enter ticket title.</div>
              </div>

              <div class="mb-3">
                <label for="workflow" class="form-label required">Workflow</label>
                <select
                  class="form-control form-select {{ if .ValidationErrors.workflow }}is-invalid{{ end }} choices"
                  name="workflow"
                  id="workflow"
                  required
                  aria-describedby="workflowHelp"
                >
                  <option value="" selected="selected" disabled>Select workflow</option>
                  {{ range $.WorkflowLabels }}
                    <option
                      value="{{ . }}"
                      {{ $workflow := $.FormData.Get "workflow" }}
                      {{ if eq . $workflow }}
                        selected="selected"
                      {{ end }}
                    >{{ .WorkflowName }}</option>
                  {{ end }}
                </select>
                {{ if .ValidationErrors.workflow }}
                  <div class="invalid-feedback">{{ .ValidationErrors.workflow.Message }}</div>
                {{ end }}
                <div id="workflowHelp" class="form-text visually-hidden">Select a workflow for this ticket.</div>
              </div>

              <div class="mb-3">
                <label for="repo" class="form-label required">Repo</label>
                <select
                  class="form-control form-select {{ if .ValidationErrors.repo }}is-invalid{{ end }} choices"
                  name="repo"
                  id="repo"
                  required
                  aria-describedby="repoHelp"
                >
                  <option value="" selected="selected" disabled>Select repo</option>
                  {{ range $.RepoLabels }}
                    <option
                      value="{{ . }}"
                      {{ $repo := $.FormData.Get "repo" }}
                      {{ if eq . $repo }}
                        selected="selected"
                      {{ end }}
                    >{{ . }}</option>
                  {{ end }}
                </select>
                {{ if .ValidationErrors.repo }}
                  <div class="invalid-feedback">{{ .ValidationErrors.repo.Message }}</div>
                {{ end }}
                <div id="repoHelp" class="form-text visually-hidden">Select the repo this ticket applies to.</div>
              </div>

              <div class="mb-3">
                <label for="assignee" class="form-label">Assignee</label>
                <select
                  class="form-control form-select {{ if .ValidationErrors.assignee }}is-invalid{{ end }} choices"
                  name="assignee"
                  id="assignee"
                  aria-describedby="assigneeHelp"
                >
                  <option value="" selected="selected" disabled>Assign a user</option>
                  {{ range $.UserOptions}}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                  {{ end }}
                </select>
                {{ if .ValidationErrors.assignee }}
                  <div class="invalid-feedback">{{ .ValidationErrors.assignee.Message }}</div>
                {{ end }}
                <div id="assigneeHelp" class="form-text visually-hidden">Assign a user to this ticket.</div>
              </div>

              <div class="mb-3">
                <label for="ccb" class="form-label">CCB</label>
                <select
                  multiple
                  class="form-control form-select {{ if .ValidationErrors.ccb }}is-invalid{{ end }} choices"
                  name="ccb"
                  id="ccb"
                  aria-describedby="ccbHelp"
                >
                  <option value="">Assign one or more CCB members</option>
                  {{ range $.CcbOptions}}
                    <option value="{{ .Id }}">{{ .Name }}</option>
                  {{ end }}
                </select>
                {{ if .ValidationErrors.ccb }}
                  <div class="invalid-feedback">{{ .ValidationErrors.ccb.Message }}</div>
                {{ end }}
                <div id="ccbHelp" class="form-text visually-hidden">Assign CCB members.</div>
              </div>

              <div class="mb-3">
                <label for="description" class="form-label required">Description</label>
                <textarea
                  class="form-control {{ if .ValidationErrors.title }}is-description{{ end }}"
                  rows="6"
                  required
                  name="description"
                  id="description"
                  aria-describedby="descriptionHelp"
                >{{ .FormData.Get "description" }}</textarea>
                {{ if .ValidationErrors.description }}
                <div class="invalid-feedback">{{ .ValidationErrors.description.Message }}</div>
                {{ end }}
                <div id="descriptionHelp" class="form-text visually-hidden">Enter a description for your ticket.</div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>