<!DOCTYPE html>
<html>

<head>
    <title>git-ticket</title>
    <link href="static/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    <link href="static/main.css" rel="stylesheet">
    <script src="static/main.js"></script>
</head>
<body>
    <div class="gt-container">
        <div class="gt-menu bg-dark" id="menu">
            <p id="menu-info">
                To add / edit entries in this sidebar update the "git-ticket" key in the local storage via the DeveloperConsole.
                The "git-ticket" key should contain a JSON object with a "bookmarks" property.
                Each property of the "bookmarks" object defines a group of bookmarks.
                Each bookmark group is a JSON object, where the key is the name of the bookmark
                and the value is a git ticket query (i.e., anything that can be passed to "git ticket ls").
            </p>
        </div>
        <div class="gt-columns">
            <div class="gt-buffer"></div>
            
            {{- range allStatuses }}
            <div class="gt-column">
                <div class="card h-100">
                    <div class="card-header text-center">
                        <h6 class="card-title">{{ . }}</h6>
                    </div>
                    <div class="card-body overflow-auto">
                    
                        {{- range index $ . }}
                        <a href="ticket?id={{ .Id }}">
                        <div class="card mb-2 mt-2" style="padding: 4px 8px;">
                            <span><b>{{ index (splitTitle .Title) 0 }}</b> | <b>{{ slice .Id 0 7 }}</b></span>
                            </span>{{ index (splitTitle .Title) 1 }}</span>
                        </div>
                        </a>
                        {{- end }}

                    </div>
                </div>
            </div>
            {{- end }}

            <div class="gt-buffer"></div>
        </div>
    </div>
</body>

</html>
