<!DOCTYPE html>
<html>

<head>
    <title>git-ticket</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    <link href="/static/index.css" rel="stylesheet">
    <script src="/static/index.js"></script>
</head>
<body>
    <div id="alert" class="alert" role="alert"></div>
    <div class="gt-container">
        <div class="gt-menu bg-dark">
            <div class="gt-menu-section mt-5">
                <span class="mx-3"><a href="/">HOME</a></span>
            </div>

            <div class="gt-menu-section mt-2">
                <span class="mx-3">bookmarks</span>
                {{ range $.BookmarkGroups }}
                    <div>
                        <span class="px-4">{{ .Group }}</span>
                        {{ range .Bookmarks }}
                            <a href="/?q={{ .Query }}">
                                <div class="px-5 my-1 gt-menu-bookmark {{ if eq .Query $.Query }}active{{ end }}">
                                    {{ .Label }}
                                </div>
                            </a>
                        {{ end }}
                    </div>
                {{ end }}
            </div>
            {{ if len $.ColorKey }}
                <div class="gt-menu-section mt-2">
                    <span class="mx-3">COLOR KEY</span>
                    {{ range $k, $v := $.ColorKey }}
                        <div class="gt-color-key mx-4">
                            <div class="gt-color-key-dot" style="background-color: {{ $v }};"></div><div>{{ $k }}</div>
                        </div>
                    {{ end }}
                </div>
            {{ end }}
        </div>
        <div class="gt-columns">
            <div class="gt-buffer"></div>

            {{ range $.Statuses }}
                <div class="gt-column">
                    <div class="card h-100">
                        <div class="card-header text-center">
                            <h6 class="card-title my-2">{{ . }}</h6>
                        </div>
                        <div class="gt-column-body card-body overflow-auto" data-status="{{ . }}">

                            {{ range index $.Tickets . }}
                                <a id="{{ .Id }}" class="gt-ticket" href="ticket?id={{ .Id }}">
                                    <div class="card px-2 py-1 my-2" {{ if index $.Colors .Id }}style="border-left-width: 8px; border-left-color: {{ index $.Colors .Id }};"{{ end }}>
                                        <span><b>{{ getRepo . }}</b> | <b>{{ slice .Id 0 7 }}</b></span>
                                        <span>{{ .Title }}</span>
                                    </div>
                                </a>
                            {{ end }}

                        </div>
                    </div>
                </div>
            {{ end }}

            <div class="gt-buffer"></div>
        </div>
    </div>
    <div id="drag-drop-placeholder" class="card"></div>
</body>

</html>
