<div class="gt-menu bg-dark">
  <div class="row mt-2">
    <a href="/ticket/new/" title="Create new ticket" class="btn btn-lg btn-dark">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
      </svg>
    </a>
  </div>

  <div class="gt-menu-section mt-3">
    <span class="mx-3"><a href="/">HOME</a></span>
  </div>

  <div class="gt-menu-section mt-2">
    <span class="mx-3">bookmarks</span>
    {{ range $.BookmarkGroups }}
    <div>
      <span class="px-4">{{ .Group }}</span>
      {{ range .Bookmarks }}
      <a href="/?q={{ .Query }}">
        <div class="px-5 my-1 gt-menu-bookmark {{ if eq .Query $.SelectedQuery }}active{{ end }}">
          {{ .Label }}
        </div>
      </a>
      {{ end }}
    </div>
    {{ end }}
  </div>
  {{ if len $.ColorKey }}
  <div class="gt-menu-section mt-2">
    <span class="mx-3">COLOR KEY</span>
    {{ range $k, $v := $.ColorKey }}
    <div class="gt-color-key mx-4">
      <div class="gt-color-key-dot" style="background-color: {{ $v }};"></div><div>{{ $k }}</div>
    </div>
    {{ end }}
  </div>
  {{ end }}
</div>
