<!DOCTYPE html>
<html>

<head>
    <title>git-ticket | {{ $.Ticket.Id }}</title>
    <link href="/static/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH">
    <link href="/static/index.css" rel="stylesheet">
    <link href="/static/ticket.css" rel="stylesheet">
</head>

<body>
    <div class="gt-container">
        {{ template "side_bar.html" $.SideBar }}

        <div class="gt-content">
            <div class="container">
                {{ if $.FlashErrors }}
                    <div class="row mt-xxl-2">
                        <div class="col mx-auto p-2 alert alert-danger d-flex align-items-center" role="alert">
                            <ul>
                                {{ range $.FlashErrors }}
                                <li>{{ . }}</li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                {{ end }}
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-header text-center">
                                <h5 class="card-title">{{ xref $.Ticket.Title }}</h5>
                            </div>
                            <div class="card-body">
                                <table class="table">
                                    <tr>
                                        <td><b>Id</b></td>
                                        <td> <span id="ticket-id">{{ $.Ticket.Id }}</span> &nbsp;&nbsp;<span class="badge bg-secondary"><a href="#" onclick="navigator.clipboard.writeText('{{ $.Ticket.Id }}');">copy</a></span></a></td>
                                    </tr>
                                    <tr>
                                        <td><b>Short Id</b></td>
                                        <td>{{  slice $.Ticket.Id 0 7 }}&nbsp;&nbsp;<span class="badge bg-secondary"><a href="#" onclick="navigator.clipboard.writeText('{{ slice $.Ticket.Id 0 7 }}');">copy</a></span></a></td>
                                    </tr>

                                    <tr>
                                        <td><b>Status</b></td>
                                        <td><span class="badge {{ ticketStatusColor $.Ticket.Status }}" >{{ $.Ticket.Status }}</span></td>
                                    </tr>

                                    <tr>
                                        <td><b>Created</b></td>
                                        <td>{{ formatTime $.Ticket.CreateTime }}</td>
                                    </tr>

                                    <tr>
                                        <td><b>Author</b></td>
                                        <td><a href="/?q=author:&quot;{{ identityToName $.Ticket.Author }}&quot;">{{ identityToName $.Ticket.Author }}</a></td>
                                    </tr>

                                    <tr>
                                        <td><b>Assignee</b></td>
                                        <td><a href="/?q=assignee:&quot;{{ identityToName $.Ticket.Assignee }}&quot;">{{ identityToName $.Ticket.Assignee }}</a></td>
                                    </tr>

                                    <tr>
                                        <td><b>Workflow</b></td>
                                        <td><span class="badge bg-secondary">{{ workflow $.Ticket }}</span></td>
                                    </tr>

                                    <tr>
                                        <td><b>CCB</b></td>
                                        <td>
                                            {{ range $.Ticket.Ccb }}
                                            <span class="badge {{ ccbStateColor .State }}">{{ .Status }}</span>&nbsp;{{ identityToName .User }}<br>
                                            {{ end }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Reviews</b></td>
                                        <td>
                                            {{ range $.Ticket.Reviews }}
                                            <span class="badge {{ reviewStatusColor .LatestOverallStatus }}">{{ xref .Id }}</span><br>
                                            {{ end }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Checklists</b></td>
                                        <td>
                                            {{ range $k, $v := $.Ticket.GetChecklistCompoundStates  }}
                                            <span class="badge {{ checklistStateColor $v }}">
                                            {{ if ne $v 0 }}<a href="/checklist/?id={{ $.Ticket.Id }}&checklist={{ $k }}">{{end}}
                                                {{ checklist $k }}
                                            {{ if ne $v 0 }}</a>{{ end }}
                                        </span>
                                            {{ end }}
                                        </td>
                                    <tr>

                                    <tr>
                                        <td><b>Labels</b></td>
                                        <td>
                                            {{ range $.Ticket.Labels }}
                                            {{ if and (not .IsWorkflow) (not .IsChecklist) }}
                                            <span class="badge bg-secondary"><a href="/?q=label:{{ . }}">{{ . }}</a></span>
                                            {{ end }}
                                            {{ end }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Actors</b></td>
                                        <td>
                                            {{ range $.Ticket.Actors }}
                                            <a href="/?q=actor:&quot;{{ identityToName . }}&quot;">{{ identityToName . }}<br>
                                                {{ end }}
                                        </td>
                                    </tr>

                                    <tr>
                                        <td><b>Participants</b></td>
                                        <td>
                                            {{ range $.Ticket.Participants }}
                                            <a href="/?q=participant:&quot;{{ identityToName . }}&quot;">{{ identityToName . }}<br>
                                                {{ end }}
                                        </td>
                                    </tr>
                                </table>
                                {{ range $.Ticket.Comments }}
                                {{ if .Message }}
                                <p>
                                    <b>{{ identityToName .Author }} | {{ formatTimestamp .UnixTime }} {{ if .Edited }}(edited){{ end }}</b></br>
                                <div class="gt-comment">
                                    {{ mdToHtml .Message }}
                                </div>
                                </p>
                                {{ end }}
                                {{ end }}

                                <form action="/ticket/{{ $.Ticket.Id }}/comment/" method="post">
                                    <label for="comment" class="form-label">Add comment</label>
                                    <textarea
                                            required
                                            rows="3"
                                            class="form-control"
                                            id="comment"
                                            name="comment"
                                    ></textarea>
                                    <button type="submit" id="submit-button" class="btn btn-primary mb-3">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
